BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

BreakBeforeBinaryOperators: All
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4

BinPackArguments: false
BinPackParameters: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SpacesInParentheses: false
SpaceBeforeParens: ControlStatements